<article class="hentry hmedia haudio audio">
  <header>
    <h1 class="entry-title fn">The Bridge</h1>
    <h2 class="contributor vcard">by <span class="n">Bramble</span></h2>
  </header>

  <section class="entry-content">
    <audio controls class="player">
      <source src="http://theresistancearmy.files.wordpress.com/2010/01/02-the-bridge.ogg" />
      <source src="http://theresistancearmy.files.wordpress.com/2010/01/02-the-bridge.mp3" />
    </audio>

    <p class="description">
      <a rel="enclosure" type="audio/mp3" href="http://theresistancearmy.files.wordpress.com/2010/01/02-the-bridge.mp3" title="Download MP3">Download MP3</a>
    </p>
  </section>

  <%= render :partial => 'footer', :locals => { :content_type => content_type } %>
</article>
