<article class="hentry note">
  <header>
    <hgroup>
      <h1 class="entry-title">
        <a href="http://thewildernessdowntown.com" title="The Wilderness Downtown">The Wilderness Downtown</a>
      </h1>
    </hgroup>
  </header>

  <section class="entry-content">
    <a href="http://thewildernessdowntown.com" title="The Wilderness Downtown" class="url">http://thewildernessdowntown.com</a>

    <p class="description">
      A really awesome HTML5 experimental music video for The Arcade Fire's song "The Wilderness Downtown".
      It uses Google Earth images of whatever house address that you put in at the beginning.
      It suggests you use your childhood home address. Emotionally intense.
    </p>
  </section>

  <%= render :partial => 'footer', :locals => { :content_type => "bookmark" } %>
</article>
