<article class="hentry bookmark xfolkentry">
  <header>
    <%= link_to sample_post_path(@content_type), html_options = { :rel => "bookmark", :class => "taggedlink" } do %>
      <h1 class="entry-title">The Wilderness Downtown</h1>
    <% end %>
  </header>

  <section class="entry-content">
    <a href="http://thewildernessdowntown.com" title="The Wilderness Downtown" class="url">http://thewildernessdowntown.com</a>

    <p class="description">
      A really awesome HTML5 experimental music video for The Arcade Fire's song "The Wilderness Downtown".
      It uses Google Earth images of whatever house address that you put in at the beginning.
      It suggests you use your childhood home address. Emotionally intense.
    </p>
  </section>

  <%= render :partial => 'footer' %>
</article>
