<article class="hentry checkin">
  <header>
    <h1 class="entry-title" rel="external">
      @
      <a href="http://blankspaces.com" title="Los Angeles Office Space or Virtual Offices for Rent or Lease | Co-working at BLANKSPACES" rel="external">Blank Spaces</a>
    </h1>
  </header>

  <section class="entry-content">
    <p class="description">
      Nerd Club is really awesome tonight. 19 people. Lively debate. A handful of out-of-towners. Even a couple international folks.
    </p>
  </section>

  <%= render :partial => 'footer' %>
</article>
