<article class="hentry code">
  <header>
    <a rel="bookmark" href="<%= link_to_post_path("code") %>">
      <h1 class="entry-title">Awesome Aaron Patterson Helper Method for a Rails App</h1>
    </a>
  </header>

  <section class="entry-content">
    <code>
module ApplicationHelper
  def awesome?
    Aaron.patterson.present?
  end
end
    </code>
    
    <p class="description">
      Use this code anytime you need to see if AP is around and thus if your application is awesome.
    </p>
  </section>

  <%= render :partial => 'footer', :locals => { :content_type => content_type } %>
</article>
