<article class="hentry code">
  <header>
    <%= link_to sample_post_path(@content_type), html_options = { :rel => "bookmark" } do %>
      <h1 class="entry-title">Awesome Aaron Patterson Helper Method for a Rails App</h1>
    <% end %>
  </header>

  <section class="entry-content">
    <code>
module ApplicationHelper
  def awesome?
    Aaron.patterson.present?
  end
end
    </code>
    
    <p class="description">
      Use this code anytime you need to see if AP is around and thus if your application is awesome.
    </p>
  </section>

  <%= render :partial => 'footer' %>
</article>
