<article class="hentry vcalendar event">
  <header>
    <%= link_to sample_post_path(@content_type), html_options = { :rel => "bookmark" } do %>
      <h1 class="entry-title description summary">Godspeed You Black Emperor! at The Music Black in LA</h1>
    <% end %>
  </header>

  <section class="entry-content vevent">
    <a class="url" href="http://www.ticketmaster.com/Godspeed-You-Black-Emperor-tickets/artist/723500">
      http://www.ticketmaster.com/Godspeed-You-Black-Emperor-tickets/artist/723500
    </a>

    <time class="dtstart" datetime="2011-02-23T20:00+09:00">Wednesday, February 23rd, 2011</time> -
    <time class="dtend"   datetime="2011-02-23T23:00+09:00">7</time>

    at the
    <span class="location vcard">
      <span class="fn n org">The Music Box</span>
      <span class="street-address">6126 Hollywood Blvd</span>
      <span class="region">Hollywood</span>, <span class="locality">CA</span>
      <span class="postal-code">90028</span>
    </span>
  </section>

  <%= render :partial => 'footer' %>
</article>
