<article class="hentry note">
  <header>
    <hgroup>
      <h1 class="entry-title">Rules for the Zombie Apocalypse (extracted from 28 Days Later)</h1>
    </hgroup>
  </header>

  <section class="entry-content">
    <p class="description">
      Stacey and I watched 28 Days Later and came up with these additions to Selena's two rules that she gives to Jim.
    </p>

    <ol>
      <li>Don't go anywhere alone unless you have to</li>
      <li>Don't travel at night unless you have to</li>
      <li>Set em on fire!</li>
      <li>They're fast &amp; strong</li>
      <li>Don't be a douche</li>
      <li>Don't take drugs</li>
      <li>Don't hang your head out of the car</li>
      <li>Stock up on supplies before you have to gtfo</li>
      <li>Don't put down your machete</li>
      <li>Always wear your seatbelt</li>
    </ol>
  </section>

  <%= render :partial => 'footer', :locals => { :content_type => content_type } %>
</article>
