<article class="hentry hmedia photo">
  <header>
    <h1 class="entry-title fn">Nate's 8-bit nintendo game shelf. Currently at 769 games. 1 shy of all the U.S. licensed games and less than 20 away from all the U.S. NON licensed games</h1>
  </header>

  <section class="entry-content">
    <a rel="enclosure" href="http://theresistancearmy.files.wordpress.com/2010/02/orange_nes_shelf.jpg" title="Nate's 8-bit nintendo game shelf. Currently at 769 games. 1 shy of all the U.S. licensed games and less than 20 away from all the U.S. NON licensed games">
      <img src="http://theresistancearmy.files.wordpress.com/2010/02/orange_nes_shelf.jpg" alt="Nate's 8-bit nintendo game shelf. Currently at 769 games. 1 shy of all the U.S. licensed games and less than 20 away from all the U.S. NON licensed games" />
    </a>

    <p class="description">
      Nate said: I built that shelf myself. Could you imagine if I found a shelf that was perfectly built for 800 old school NES games? That'd be weird, huh? Oh, and here's a little update... I only need 14 games now: one licensed game (stadium events) and 13 unlicensed. For the list go here (<a rel="external" href="http://n8duke.wordpress.com/nes-games-im-after/" title="NES Games I&#8217;m After &laquo; The Life of N8">http://n8duke.wordpress.com/nes-games-im-after/</a>).
    </p>
  </section>

  <%= render :partial => 'footer', :locals => { :content_type => "photo" } %>
</article>
