<article class="hentry hproduct">
  <header class="entry-title">
    <a href="#" class="url" rel="bookmark product">
      <h1 class="brand">The Resistance Army</h1>
      <h2 class="fn">Beneath The Paving Stones - The Forest</h2>
    </a>
  </header>

  <section class="entry-content">
    <img alt="Beneath The Paving Stones - The Forest design" class="photo" src="http://theresistancearmy.appspot.com/assets/14/preview.png" />

    <h3 class="price money">
      <abbr class="currency" title="USD" lang="en">$</abbr>
      <span class="amount">12.00</span>
    </h3>

    <p class="description">
      We use <a href="http://store.americanapparel.net/" rel="external">American Apparel</a> shirts: The <a href="http://store.americanapparel.net/2001.html" rel="external">American Standard</a> in <a href="/sizes">small, medium, and large</a> and the <a href="http://store.americanapparel.net/2102.html" rel="external">American Girl</a> in <a href="/sizes">women's medium.</a> All shirts are <strong>$12</strong> plus shipping $4 (USA/Canada), $10 international. First 4 shirts are $4 ($10 international) total, <b>4+ shirts gets FREE SHIPPING.</b>
    </p>

    <dl class="identifier">
      <dt class="type">SKU</dt>
      <dd class="value">TRA-14</dd>
    </dl>
  </section>

  <%= render :partial => 'footer' %>
</article>
