<article class="hentry quote">
  <section class="entry-title entry-content">
    <p><cite>Crimethinc</cite> wrote:</p>

    <blockquote cite="http://thecloud.crimethinc.com/pdfs/fight-where-you-stand.pdf">
      <p>
        We are anarcho-syndicalists on the shop floor, green anarchists in the woods,
        social anarchists in our communities, individualists when you catch us alone,
        anarcho-communists when there's something to share,
        insurrectionists when we strike a blow.
      </p>
    </blockquote>
  </section>

  <%= render :partial => 'footer' %>
</article>
