<article class="hentry s5 slides">
  <header>
    <%= link_to sample_post_path(@content_type), html_options = { :rel => "bookmark" } do %>
      <h1 class="entry-title">Awesome Aaron Patterson Helper Method for a Rails App</h1>
    <% end %>
  </header>

  <section class="entry-content">
    <header class="layout">
      <div id="currentSlide"></div>
      <div id="header"></div>
      <div id="footer">
        <div id="controls"></div>
      </div>
    </header>

    <ol class="presentation">
      <li class="slide">
        <h1>Slides Marked Up in S5</h1>
        <p>Actually a slightly modified version of S5 updating it to use HTML5/CSS3</p>
      </li>
      <li class="slide">
        <h1>For the Better</h1>
        <p>Who knows? But it's worth a shot.</p>
      </li>
      <li class="slide">
        <h1>Revisit this later</h1>
        <p>Maybe use S6 or S9, or update S5's version.</p>
      </li>
    </ol>
  </section>

  <%= render :partial => 'footer' %>
</article>
