<article class="hentry status">
  <header>
    <h1 class="entry-title entry-content">On my way early to  <a class="at_username" rel="external" href="http://twitter.com/ladotrb">@ladotrb</a>. See you there? <a class="link" rel="external" href="http://rb.la">http://rb.la</a> <a class="hashtag" rel="external" href="http://search.twitter.com/larb">#larb</a></h1>
  </header>

  <%= render :partial => 'footer', :locals => { :content_type => content_type } %>
</article>
