<article class="hentry hmedia video">
  <a rel="bookmark" href="<%= link_to_post_path(@content_type) %>">
    <header>
      <h1 class="entry-title fn">The Bridge</h1>
      <h2 class="contributor vcard">by <span class="n">Bramble</span></h2>
    </header>
  </a>

  <section class="entry-content">
    <video controls class="player" poster="http://theresistancearmy.files.wordpress.com/2010/01/recording_bridge.jpg">
      <source src="http://razzledazzleit.s3.amazonaws.com/issues/1/bramble/recording_bridge.mp4" />
      <source src="http://razzledazzleit.s3.amazonaws.com/issues/1/bramble/recording_bridge.ogv" />
    </video>

    <p class="description">
      <a rel="enclosure" type="video/mp4" href="http://razzledazzleit.s3.amazonaws.com/issues/1/bramble/recording_bridge.mp4">Download The Bridge by Bramble</a>
    </p>
  </section>

  <%= render :partial => 'footer' %>
</article>
