<article class="hentry video">
  <header>
    <h1 class="entry-title">Rogue and Sir Purrs-a-Lot</h1>
  </header>

  <section class="entry-content">
    <!-- this would be hosted locally not on vimeo/youtube/etc. this is just an example. -->
    <iframe src="http://player.vimeo.com/video/2184175" width="400" height="302" frameborder="0"></iframe>

    <p class="description">
      <a href="http://vimeo.com/2184175">Rogue and Sir Purrs-a-Lot</a> from <a href="http://vimeo.com/veganstraightedg">Shane Becker</a> on <a href="http://vimeo.com">Vimeo</a>.
    </p>
  </section>

  <%= render :partial => 'footer', :locals => { :content_type => "video" } %>
</article>
